header {
  padding-top: 13px;
  padding-left: 130px;
  height: 60px;
  background-color: #0E4447;
  img {
    display: inline-block
  }
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 90%;
  span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: black;
    margin-bottom: 2px;
    transition: 0.5s all;
  }
  &--active {
    span:nth-child(1) {
      transform: translateY(7px) rotate(-45deg);
    }
    span:nth-child(2) {
      display: none
    }
    span:nth-child(3) {
      transform: translateY(3px) rotate(45deg);
    }
  }
  &Filter {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 240px;
    top: 0;
    margin-left: -100%;
    height: 101%;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: visibility, margin-left 0.5s;
    z-index: 2;
    &--active {
      margin-left: -5px;
    }

    &__main{
      position: absolute;
      top: 10px;
      color: #FEED7E;
      border: 2px solid;
      padding: 0 7%;
      font-size: 20px;
    }

    &--accepted {
      position: relative;
      margin: 50% 0 30% 0;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -5px;
        left: -10%;
        width: 2px;
        height: 100px;
        background-color: white;
      }
    }

    &__node {
      color: #E7E7E7;
      &--active {
        color: #FEED7E;
      }
    }

    &__reserve {
      color: #E7E7E7;
      margin-top: 40%;
      font-size: 18px;
      &--active{
        color: #FEED7E;
      }
    }
  }
}

.header__text {
    display: inline-block;
    position: absolute;
    color: #F4F4F4;
    margin-left: 12px;
    font-size: 24px;
  }
